@charset "UTF-8";
/* CSS Document */

body{
margin:auto;
background-color:#e6e6e6;
}

#main{
margin:auto;
width:1000px;
height:600px;
background-repeat:no-repeat;
border: #CCC solid 1px;
}

#projet {
	width:442px;
	height:409px;
	float:left;
	padding-top:40px;
	padding-left:10px;
}

#banniere {
	width:225px;
	height:187px;
	float:left;
	padding-top:280px;
}

#contenu {
	background-image: url(../images/onvasortir.jpg);
	width:900px;
	}

#portfolio {
	width:311px;
	height:364px;
	float:left;
	padding-top:60px;
	
}

#retour {
	width:96px;
	height:94px;
	float:left;
	margin-top:234px;
	margin-left:926px;

}

.projet a {
text-decoration: none;
}

.banniere a {
text-decoration: none;
}

.portfolio a {
text-decoration: none;
}

.retour a {
text-decoration: none;
}

#swf-banniere {
	width:728px;
	height:90px;
}